.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-wrapper {
    width: 700px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font-size: 2.1rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3px;
      }

      p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
      }
      img {
        width: 80px;
        height: 90px;
        margin: 0 auto;
        display: block;
      }

      .auth-form {
        width: 300px;
        margin-top: 5%;
        input {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 50px;
          padding: 0 20px;
          font-size: 1.2rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px;
          font-family: "Zain";
        }
        button {
          width: 100%;
          height: 45px;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 2px;
          color: #fff;
          background-color: #5cafda;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-bottom: 2.9%;
          &:hover {
            background-color: #4497c0;
          }
        }

        .forgot-password {
          font-size: 1.1rem;
          color: #31393d;
          text-decoration: none;
          letter-spacing: 1.6px;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      #resend {
        font-size: 0.89rem;
        color: #31393d;
        text-decoration: none;
        letter-spacing: 1.6px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
